body {
  background-color: #161D27;
  margin: 0;
  font-family: "Outfit", sans-serif;
}


.fbackground {
  background-image: linear-gradient(rgba(20, 30, 40, 0.85),
      rgba(20, 30, 40, 0.85)), url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
  }

  .header button {
    padding: 15px 40px;
    font-size: 18px;
    line-height: 28px;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    gap: 20px;
  }

  .contacts {
    flex-direction: column;
    gap: 20px;
  }

  .nav {
    flex-wrap: wrap;
    gap: 15px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px 0;
  }

  .hero-text h2 {
    font-size: 45px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .hero-btn {
    padding: 15px 40px;
    font-size: 18px;
  }

  .hero-img img {
    max-width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .header button,
  .hero-btn {
    padding: 12px 25px;
    font-size: 16px;
  }

  .navigation {
    padding: 15px 0;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
  }

  .contacts {
    gap: 15px;
  }

  .contact img {
    width: 50px;
    height: 50px;
  }

  .contact span {
    font-size: 16px;
  }

  .contact p {
    font-size: 18px;
  }

  .hero-text h2 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .hero-img img {
    max-width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.header button {
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  padding: 25px 70px;
  background-color: rgba(255, 255, 255, 0.197);
  color: #ffffff;
  line-height: 35px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  border-top: 1px solid #4E555F;
  border-bottom: 1px solid #4E555F;
}

.contacts {
  display: flex;
  gap: 50px;
  font-family: "Outfit", sans-serif;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact img {
  width: 62px;
  height: 62px;
}

.contact span {
  font-size: 18px;
  color: #D1B06B;
}

.contact p {
  font-size: 22px;
  color: #ffffff;
}

.nav {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #ffffff;
}

.nav a {
  transition: color 0.3s;
}

.nav a:hover {
  color: #d1b06b;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.hero-text h2 {
  color: #ffffff;
  font-size: 65px;
}

.hero-text p {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  color: #D1B06B;
}

.hero-text img {
  width: 94px;
  height: 44px;
}

.hero-btn {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  padding: 25px 70px;
  color: #1F2732;
  background-color: #D1B06B;
}

.info {
  display: flex;
  gap: 60px;
  margin-bottom: 140px;
}

.info h2 {
  font-size: 45px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.text-info {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.heron {
  display: flex;
  align-items: center;
  gap: 20px;

}

.text-info p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: #D7D7D7;
  line-height: 32px;
  margin: 35px 0;
}

.heron span {
  font-size: 40px;
  color: #FFFFFF;
}

.hero-statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  gap: 30px;
}

.hero-stat {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  display: flex;
  gap: 20px;
  padding: 35px 50px;
  color: #FFFFFF;
  background-color: #D1B06B;
}

.succ-text {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.hero-stat p {
  font-size: 30px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #161D27;
  border-radius: 5px;
}

.hero-stati {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  display: flex;
  gap: 20px;
  padding: 35px 50px;
  color: #FFFFFF;
  background-color: #3B434E;
}

.img-info {
  max-width: 467px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.areas {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

}

.areas img {
  width: 95px;
  height: 44px;
}

.areas-title {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.areas-title img {
  width: 94px;
  height: 44px;
}

.areas-title p {
  display: flex;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  max-width: 660px;
  width: 100%;
  line-height: 32px;
}

.areas-title h2 {
  font-size: 45PX;
  margin-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 20px;
  margin-top: 30px;
  color: #FFFFFF;
  margin-bottom: 140px;
}

.card {
  background-color: #1F2732;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.card h2 {
  font-size: 35px;
}

.card p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid #4E555F;
  padding: 20px 20px 20px 0;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.card-btn button {
  font-family: "Ouftit", sans-serif;
  font-size: 20px;
  padding: 14px 40px;
  background-color: #161D27;
}

.deserve {
  background-color: #FFFFFF;
}

.deserve-text {
  text-align: center;
  padding-top: 120px;
}

.deserve-text h2 {
  font-size: 45px;
  color: #161D27;
}

.deserve-text p {
  padding-top: 40px;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: #909090;
}

.heartstar {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 80px;
  border-bottom: 1px solid #4E555F;
}

.hs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 30px;
  gap: 30px;
}

.hs-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  border: 2px solid #D1B06B;
  padding: 30px;
}


.hs-icon span {
  font-family: "Outfit", sans-serif;
  font-size: 30px;
}

.hs h2 {
  font-size: 30px;
}

.hs p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: #909090;
}

.defense {
  background-image: url(../img/criminalback.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: #FFFFFF;
  padding: 40px 200px 40px 50px;
}

.defense h2 {
  font-family: "Outfit", sans-serif;
  font-size: 30px;
}

.defense p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

.Partners {
  display: flex;
  flex-direction: column;
}

.Partners-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  gap: 40px;
  padding-top: 80px;
  margin-bottom: 50PX;
}

.Partner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  margin-bottom: 130px;
}

.sbackground {
  background-image: url(../img/hammer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 140px 20px;
}

.history {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 80px 20px;
  background-color: #1F2732D9;
}


.blok h2 {
  font-size: 45px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.blok h3 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: #D1B06B;
  margin-bottom: 15px;
}

.blok p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: #D7D7D7;
  margin-bottom: 30px;
  line-height: 32px;
}

.blok img {
  margin-bottom: 50px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #eee;
  overflow: hidden;
  margin-top: 5px;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #D1B06B;
  transition: width 2s ease;
}

.statistics {
  width: 100%;
  max-width: 383px;
}

.blok {
  flex: 1;
}

.stat {
  margin-bottom: 40px;
}

.stat span {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 5px;
}

.percent {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: #D7D7D7;
}

form .row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

form .row input {
  flex: 1;
  margin: 10px;
}

form textarea {
  width: 100%;
  resize: none;
  padding: 10px;
}

form input::placeholder,
form textarea::placeholder {
  color: #d1b16bb7;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #161D27;
  padding: 30px;
  border-radius: 10px;
  max-width: 990px;
  width: 100%;
  position: relative;
}

.modal-content h2 {
  font-size: 35px;
  text-align: center;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.stat span {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.freeconsulting {
  font-family: "Outfit", sans-serif;
  padding: 25px 70px;
  background-color: #D1B06B;
  color: #1F2732;
}

.cons {
  padding: 20px;
  color: #d1b06b;
}

.client-title {
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 45px;
  color: #FFFFFF;
  text-align: center;
}

.client-title h2 {
  margin-bottom: 10px;
}

.Clients {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  margin-bottom: 180px;
}

.client-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.client-back {
  padding: 50px 45px;
  background-color: #2E3947;
  border-bottom-left-radius: 40px;
}

.client-back p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #D7D7D7;
  margin-top: 30px;
}

.client-hero {
  display: flex;
  align-items: center;
  gap: 20px;
}

.client-hero h2 {
  font-size: 30px;
  color: #FFFFFF;
}

.client-hero p {
  font-size: 20px;
  color: #D7D7D7;
}

.client-backs {
  padding: 50px 45px;
  background-color: #2E3947;
  border-top-left-radius: 40px;
}

.client-backs p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #D7D7D7;
  margin-top: 30px;
}

.Attorney-title {
  padding-top: 110px;
  text-align: center;
  font-size: 45px;
}

.Attorney {
  background-color: #FFFFFF;
}

.Attorney-cards {
  display: flex; /* все адвокаты в ряд */
  gap: 20px;
  justify-content: center;
  padding-bottom: 120px;
  padding-top: 70px;
}

.Attorney-card {
  text-align: center;
}

.Attorney-hero {
  position: relative;
  width: 250px;
}

.Attorney-hero img {
  width: 100%;
  display: block;
}

.overlay-menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: #161D27;
}

.Attorney-hero:hover .overlay-menu {
  opacity: 1;
}

.Attorney-info h2,
.Attorney-info p {
  margin: 5px 0;
}

.Consultation{
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 140px 0;
  flex: 1;
}

.Consultation-title .Consultation-back{
  flex: 1;
}

.Consultation-title {
    padding: 30px 55px;
}

.Consultation-title h2{
  font-size: 45px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.Consultation-title p{
  font-size: 20px;
  color: #D7D7D7;
  margin: 40px 0;
  line-height: 32px;
}

.Consultation-title button{
  padding: 25px 70px;
  background-color: #D1B06B;
  color: #1F2732;
}

.Consultation-back{
  background-color: #FFFFFF;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  max-width: 630px;
  width: 100%;
}

.Consultation-titleo{
  margin: 40px;
  padding: 60px;
  border: 15px solid #D7D7D7;
}

.Consultation-back h2{
  font-size: 42px;
}

.Consultation-back p{
  font-size: 20px;
  line-height: 32px;
  color: #909090;
}

.registrsec{
  background-image: url(../img/backregistr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 140px 0;
}

.backregistr{
  background: rgba(31, 39, 50, 1);
  padding: 50px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  color: white;
}

.registr button{
  background-color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  color: #3B434E;
  padding: 30px;
}

.registr-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-row {
  display: flex;
  gap: 30px;
  width: 100%;
}

.form-input,
.form-textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #4E555F; 
  padding: 10px 0;
  color: white;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #4E555F;
  padding: 10px 0;
  color: white;
  font-size: 18px;
  resize: none;
  height: 100px;
}

.form-textarea::placeholder{
  color: rgba(255, 255, 255, 0.7);
}

.recent{
  margin-top: 130px;
}

.recent-title{
  font-size: 45px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 70px;

}

.law{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-bottom: 1px solid #4E555F;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.more-text {
  display: none;
}

.more-text.show {
  display: inline;
}


.law-span{
  color: #D1B06B;
  line-height: 33px;
  border-bottom: 1px solid #4E555F;
}

.law-span h3{
  font-size: 21px;
  line-height: 33px;
  margin: 20px 0;
}

.law-text h2{
  font-size: 45px;
  color: #FFFFFF;
  padding: 10px 0;
}

.law-text p{
  font-size: 20px;
  color: #FFFFFF;
  line-height: 32px;
  padding: 10px 0;
}

.view-more{
  font-size: 22px;
  text-decoration: underline;
  color: #d1b06b;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 20px 20px;
}

.grid-card {
  margin-bottom: 100px;
}

.grid-card h2{
  font-size: 30px;
  color: #FFFFFF;
  margin-top: 25px;
}

.grid-card p{
  font-size: 20px;
  line-height: 32px;
  color: #D7D7D7;
  margin: 20px 0;
}

.grid-card img{
  width: 100%;
}

.backline{
  width: 100%;
  height: 250px;
  background-image: url('../img/backline.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 130px;
}

.Footer-logo{
  text-align: center;
  margin-bottom: 95px;
}

.Footer-link{
  display: flex;
  gap: 100px;
  justify-content: space-around;
  margin-bottom: 75px;
}

.footer-title{
  font-size: 30px;
  color: #FFFFFF;
  padding: 20px 0;
  border: 1px solid #3B434E;
  border-left: none;
  border-right: none;
}

.links-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;

}

.links-grid a{
  font-size: 20px;
  color: #D7D7D7;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.links a{
  font-size: 20px;
  color: #D7D7D7;
}

.Contact-us p{
  font-size: 20px;
  color: #D7D7D7;
  padding: 30px;
  line-height: 38px;
}

.site-info{
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
  margin-bottom: 70px;
  border: 1px solid #3B434E;
  border-left: none;
  border-right: none;
}

.creators{
  display: flex;
  gap: 10px;
  font-family: "Outfit", sans-serif;
}

.creators h2{
  font-size: 20px;
  color: #D7D7D7;
}

.creators span{
  color: #D1B06B;
  font-size: 22px;
}

.creators p{
  font-size: 20px;
  color: #d1b06b;
}

.Socials span{
  font-size: 20px;
  color: #d1b06b;
}

