.fbackground  {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(22, 29, 39, 1);
    font-family: "Outfit", sans-serif;
    color: white;
    background-image: url("../img/background.jpg");
    background-size: cover;
    width: 100%;
    background-color: rgba(22, 29, 39, 0.7);
    background-blend-mode: darken;
    background-position: center;    
    background-repeat: no-repeat;
}
body{
    background: rgba(22, 29, 39, 1);
}

@font-face {
    font-family: "Outfit";
    src: url(../fonts/Outfit/Outfit-Regular.ttf);
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Cormorant";
    src: url(../fonts/Cormorant/CormorantGaramond-Regular.ttf);
    font-weight: normal;
    font-style: normal;

}


.container{ 
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    
}
.header-btn{
    background: rgba(255, 255, 255, 0.1);
    width: 350px;
    height: 85;
    font-weight: lighter;
    font-size: 22px;
}
.zalupa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    border-top: 1px solid rgba(78, 85, 95, 1);
    border-bottom: 1px solid rgba(78, 85, 95, 1);
    border-left: none;         
    border-right: none;
    box-sizing: border-box;
    margin: 20px 35px;
    
}

.contacts{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 50px;
}


.contact-number{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contact-number h2{
    color: rgba(209, 176, 107, 1);
    font-size: 18px;
}

.contact-number p{
    font-size: 22px;
}

.contact-email{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contact-email h2{
    color: rgba(209, 176, 107, 1);
    font-size: 18px;
}

.contact-email p{
        font-size: 22px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav a{
    
    font-size: 22px;
    transition: color 0.3s;
}
.nav a:hover{
    color: rgba(209, 176, 107, 1);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0 35px;
}

.hero--btn{
    font-size: 22px;
    background: rgba(209, 176, 107, 1);
    display: inline-block;
    width: 269px;
    height: 85px;
    margin-top: 20px;
}

.hero-text{ 
    width: 672px;
}

.hero-text h2{
    font-size: 65px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hero-text p{
    font-size: 22px;
    color: rgba(209, 176, 107, 1);
    margin-bottom: 20px;
}




.info{
    display: flex;
    gap: 60px;
    margin: 100px 35px;
    color: white;
}

.img-info{
    width: 467px;
}

.text-info{
    width: 816px;
}

.text-info h2{
    font-family: "Cormorant", sans-serif;
    font-size: 45px;
    margin-bottom: 10px;
}

.text-info p{
    font-size: 20px;
    font-family: "Outfit", sans-serif;
}

.text-info img{
    margin-top: 15px;
    margin-bottom: 40px;
}

.hero2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    margin: 10px 0;
}

.hero-name{
    font-family: "Cormorant", sans-serif;
    font-size: 40px;
    
}

.hero-statistics{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.hero-succ{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(59, 67, 78, 1);
    width: 315px;
    height: 126px;
    gap: 20px;

}

.hero-succ img{
    margin: 0;
}

.hero-succ span{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-family: "Outfit", sans-serif;
}

.hero-exp{
    background: rgba(209, 176, 107, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 315px;
    height: 126px;
    gap: 20px;
    
}

.hero-exp p{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(22, 29, 39, 1);
    width: 81px;
    height: 59px;
    border-radius: 5px;
}

.hero-exp span{
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    color: rgba(31, 39, 50, 1) !important;
}

.section2{
    color: white;
    font-family: "Cormorant", sans-serif;
    margin: 35px;
}
.title1{
    display: flex;
    flex-direction: column;
    font-family: "Cormorant", sans-serif;
    font-size:  45px;
}
.text4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;

}

.title1 img {
    width: 95px; 
    height: auto;
}

.title1-text{
    max-width: 660px;
    width: 100%;
    font-size: 20px;

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px 0;
}
.card{
    width: 100%;
    background: rgba(31, 39, 50, 1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 430px;
}

.card h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.card p{
    font-size: 20px;
    font-family: "Outfit";
    width: 300px;
    height: 96px;
    line-height: 32px;

    
}
.card-text{
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(78, 85, 95, 1);
    margin: 28px;
}

.card-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Outfit";
    margin: 40px;
    font-size: 20px;
}

.card-img button{
    background: rgba(22, 29, 39, 1);
    padding: 12px 32px;
}

.deserve{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 100px;
    padding-top: 100px;
}

.deserve-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.deserve-text h2{
    font-size: 45px;
    margin-bottom: 10px;
}

.deserve-text p{
    font-size: 20px;
    color: rgba(144, 144, 144, 1);
    line-height: 32px;
    margin-top: 40px;
}

.heartstar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;
}

.hearticon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px rgba(209, 176, 107, 1);
    padding: 10;
    width: 100px;
    height: 100px;
}
.hearticon span{
    font-size: 30px;
    color: rgba(31, 39, 50, 1);
}

.heart{
    background-color: rgba(251, 251, 251, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.heart h2{
    font-size: 30px;
}

.heart p{
    font-size: 20px;
    color: rgba(144, 144, 144, 1);
} 

.star{
    background-color: rgba(251, 251, 251, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.staricon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px rgba(209, 176, 107, 1);
    padding: 10;
    width: 100px;
    height: 100px;
}

.staricon span{
    font-size: 30px;
    color: rgba(31, 39, 50, 1);
}
.star h2{
    font-size: 30px;
}

.star p{
    font-size: 20px;
    color: rgba(144, 144, 144, 1);
} 

.staricon{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgba(209, 176, 107, 1);
}

.defense{
    background-image: url(../img/law.png);
    background-size: cover;
    width: 365px;
    height: 160px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 50px;
}

.defense h2{
    font-size: 30px;
}

.defense p{
    font-size: 20px;
}

.Partners{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 130px;
}

.Partners-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.Partners-title h2{
    font-size: 50px;
}

.Partner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}

.Partner img{
    flex-shrink: 0;
    width: auto;
    height: auto;
}

.sbackground{
    background-image: url(../img/hammer.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1,440px;
    width: 100%;
    Height: 100%;
    max-height:  1,330px;
    background-position: center;
}