html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(22, 29, 39, 1); 
}


@font-face {
    font-family: "Outfit";
    src: url(../fonts/Outfit/Outfit-Regular.ttf);
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Cormorant";
    src: url(../fonts/Cormorant/CormorantGaramond-Regular.ttf);
    font-weight: normal;
    font-style: normal;

}

* {
  font-family: "Outfit", sans-serif;
  color: white;
}
.section1 {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-color: rgba(22, 29, 39, 0.7);
    background-blend-mode: darken;
    background-position: center;    
    height: auto;
;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    
}
.logo-btn{
    background: rgba(255, 255, 255, 0.1);
    width: 350px;
    height: 85;
    font-weight: lighter;
    font-size: 22px;
}
.zalupa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
    border-top: 1px solid rgba(78, 85, 95, 1);
    border-bottom: 1px solid rgba(78, 85, 95, 1);
    border-left: none;         
    border-right: none;
;
}

.contacts{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.contact-number{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.contact-email{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.number{
    font-size: 18px;
    color: rgba(209, 176, 107, 1);

}

.email{
    font-size: 18px;
    color: rgba(209, 176, 107, 1);
}

.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav a{
    
    font-size: 22px;
    transition: color 0.3s;
}
.nav a:hover{
    color: rgba(209, 176, 107, 1);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 35px;
}

.get-btn{
    font-size: 22px;
    background: rgba(209, 176, 107, 1);
    display: inline-block;
    width: 269px;
    height: 85px;
    margin-top: 20px;
}

.man-img{
    display: flex;
    justify-content: flex-end;
}


h1{
    font-size: 65px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.text1{
    font-size: 22px;
    color: rgba(209, 176, 107, 1);
    margin-bottom: 20px;
}

.info{
    display: flex;
    gap: 30px;
    margin: 35px;
}


/* .card-info{
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */

.text2{
    font-family: "Cormorant", sans-serif;
    font-size: 45px;
}

.text3{
    font-size: 20px;
}

.hero2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.hero-name{
    font-family: "Cormorant", sans-serif;
    font-size: 40px;
    
}

.hero-statistics{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.hero-succ{
    display: flex;
    justify-content: center;
    gap: 10px;
    background: rgba(59, 67, 78, 1);
    width: 315px;
    height: 126px;

}

.succ-svg{
    width: 58px;
    height: auto;
}
.succ-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-exp{
    background: rgba(209, 176, 107, 1);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 315px;
    height: auto;
}
.exp-num{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(22, 29, 39, 1);
    width: 81px;
    height: 59px;

}

.exp-text{
    display: flex;
    flex-direction: column;
}

